form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    height:100px;
    border: 1px solid black;
    gap:1rem;
    padding:1rem;
}